.header { 
    display: flex;
    justify-content: space-between;
}

.header_logo{
    padding: 20px;
    height: 60px;
    object-fit: contain;
    border-radius: 40%;
}
.header_icon {
    padding: 20px;
}
